<div>
  <h1>Student List</h1>
  <button routerLink="/add">Add New Student</button>

  <table>
    <thead>
      <tr>
        <th>Student ID</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Date of Birth</th>
        <th>Gender</th>
        <th>Enrollment Date</th>
        <th>Courses</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of displayedStudents">
        <td>{{ student.studentId }}</td>
        <td>{{ student.fullName }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.phoneNumber }}</td>
        <td>{{ student.dateOfBirth }}</td>
        <td>{{ student.gender }}</td>
        <td>{{ student.enrollmentDate }}</td>
        <td>{{ student.courses.join(', ') }}</td>
        <td style="position: relative;">
          <button (click)="toggleActionMenu(student.id)" aria-label="Actions menu" class="menu-button">
            &#8942;
          </button>

          <div class="actions-menu" *ngIf="openActionMenuId === student.id">
            <button [routerLink]="['/edit', student.id]">Edit Courses</button>
            <button (click)="deleteStudent(student.id)">Delete</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="pagination-container">
    <div class="pagination-info">
      Showing {{ (currentPage - 1) * pageSize + 1 }} to
      {{ Math.min(currentPage * pageSize, students.length) }} of
      {{ students.length }} entries
    </div>

    <div class="pagination-controls">
      <label for="pageSize">Show</label>
      <select id="pageSize" [(ngModel)]="pageSize" (change)="setPage(1)">
        <option *ngFor="let size of [10, 20, 50, 100]" [value]="size">{{ size }}</option>
      </select>

      <button (click)="setPage(currentPage - 1)" [disabled]="currentPage === 1"><span
          style="display: inline-block; transform: scaleX(-1);">➔</span>
        Prev</button>

      <ng-container *ngFor="let page of [].constructor(totalPages); let i = index">
        <button (click)="setPage(i + 1)" [class.active]="currentPage === i + 1">
          {{ i + 1 }}
        </button>
      </ng-container>

      <button (click)="setPage(currentPage + 1)" [disabled]="currentPage === totalPages">Next <span>➔</span></button>
    </div>
  </div>

</div>